<html>
<head>
    <title>Administration panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <title> Administration Panel </title>
</head>
<body>
    <div class="ui top fixed menu">
      <a class="item">
        <h1 class="ui green header">ADMIN PANEL</h1></a>
      <div class="right menu">
        <a class='ui green item' href='#work'>Historical</a>
        <a class="ui blue item" href="{% url 'log_out' %}">Logout </a>
      </div>
    </div>
  
    <div class="ui divider"></div>
    
    <div class='container'> 
    <form class="ui inverted large form" method='post'>
      <div class='ui inverted segment' style='height: 100%;'>
        {% csrf_token %}
        <h3 class="ui blue header" style='text-align:center;'>Add a new auction</h3>
        <div class="six wide field" style='margin: 0 auto;'>
          <label>Object: </label>
          <input type="text" name="object" placeholder="object">
        </div>
        <div class="six wide field" style='margin: 0 auto;'>
          <label>Starter price: </label>
          <input type="text" name="price" placeholder="price">
        </div>
        <div class="six wide field" style='margin: 0 auto;'>
          <label>End date: </label>
          <input type="date" name="endDate" placeholder="endDate">
        </div>
        <div class="six wide field" style='margin: 0 auto;'>
          <label>Select a time:</label>
          <input type="time" id="endTime" name="endTime">
        </div>
        <button class="ui inverted red button" type='submit' style='width:100px; margin-left:46%; margin-top:2%;'>Public</button>
        
      </div>
    </form>
    </div>
    <div class="ui divider"></div>

  <a name='work'></a>
  <div class="pusher">
    <div class="ui  segment">
      <h2 class="ui red header">HISTORICAL TABLE</h2>
      <table class="ui green single line table">
        <thead>
          <tr><th>Object</th>
          <th>Price</th>
          <th>State</th>
          <th>Publishing day</th>
          <th>Expiration day</th>
        </tr></thead>
        <tbody>
          {% for item in auctions%}
          <tr>
            <td data-label="Object">{{item.nobject}}</td>
            <td data-label="Price">{{item.price}}</td>
            <td data-label="State">{{item.active}}</td>
            <td data-label="Publishing day">{{item.publicData}}</td>
            <td data-label="Expiration day">{{item.endData}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>








</body>
<script>
document.querySelector("button").addEventListener('click', function(event) {
  event.currentTarget.setAttribute("disabled", true);
}, {
    once: true
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>

</html>